@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&family=Kumar+One&family=Roboto:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 0 0% 100%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: #171717;
}
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  container-type: inline-size;
}

.heroTitle {
  text-transform: uppercase;
  color: rgba(100%, 100%, 100%, 30%);
  text-align: center;
  font-size: 14.5cqw;
}

.audio-container .rhap_time {
  display: none !important;
}

.audio-container .rhap_container {
  background-color: transparent !important;
  padding: 10px 0 !important;
  margin: 0 !important;
}

.custom-audio-player .rhap_play-pause-button {
  display: none !important;
}

.rhap_controls-section {
  display: none !important;
}

.rhap_main-controls {
  display: none !important;
}

.rhap_progress-indicator {
  display: none !important;
}

.rhap_progress-bar {
  background-color: gray !important;
}

.rhap_progress-filled {
  background-color: white !important;
}

.rhap_progress-bar-show-download {
  background-color: gray !important;
}

.rhap_download-progress {
  background-color: gray !important;
}

.react-multiple-carousel__arrow {
  margin-top: -80px;
}

.react-multiple-carousel__arrow--right {
  right: 3% !important;
}

.react-multiple-carousel__arrow--left {
  left: 3% !important;
}

.current-billboard {
  transition: background-color 1s ease;
}

/* CSS for vinyl animation */
.vinyl-animation {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.vinyl-animation.next {
  transform: translateX(100%) scale(0.5) rotate(360deg);
  opacity: 0;
}

.vinyl-animation.previous {
  transform: translateX(-100%) scale(0.5) rotate(-360deg);
  opacity: 0;
}

.swiper {
  height: 87vh;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 40% !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}

@media (max-width: 1024px) {
  .swiper-wrapper {
    padding: 3vh 0;
  }
}

@media (max-width: 800px) {
  .swiper-wrapper {
    padding: 15vh 0;
  }
}

@media (max-width: 900px) and (max-height: 1200px) {
  .swiper-wrapper {
    padding: 25vh 0;
  }

  .heroTitle {
    top: 20%;
    line-height: 30vh;
  }
}

@media (max-width: 500px) {
  .swiper-wrapper {
    padding: 20vh 0;
  }

  .swiper-slide img {
    transform: scale(1.6);
  }

  .heroTitle {
    top: 10%;
    line-height: 68cqw;
  }
}
@media (max-width: 350px) {
  /* .swiper-wrapper {
    margin-top: 40%;
  } */
}
